<div class="container bg-primary text-white text-center">
    <h2>Product Register Form</h2>
</div>
<form action="">
    <div class="row mb-3">
        <label class=" name col-2 d-flex justify-content-end">Product Name :</label>
        <input type="text" class="col-md-7" placeholder="Product Name">
    </div>
    <div class="row mb-3">
        <label for="PreoductType" class=" name col-2 d-flex justify-content-end"> Product Type :</label>
        <select name="" id="" class="col-3">
            <option value="">Fruits And Vegetable</option>
            <option value="">Meat & Fish</option>
            <option value="">Cooking Essentials</option>
            <option value="">Sauces, Pickles & Condiments</option>
            <option value="">Snacks & Instant Foods</option>
            <option value="">Baby Food & Care</option>
            <option value="">Breads, Biscut & Cakes</option>
            <option value="">Spreads</option>
            <option value="">Dairy</option>
            <option value="">Beverages</option>
            <option value="">Personal Care</option>
            <option value="">Home Care & Cleaning</option>
            <option value="">Home & Living</option>
            <option value="">Home Appliance</option>
            <option value="">Other</option>
            <option value="">other</option>

        </select>
        <label for="PreoductType" class=" name col-1 d-flex justify-content-end mb-@"> Product Brand :</label>
        <select name="" id="" class="col-3">
            <option value="">Fruits And Vegetable</option>
            <option value="">Meat & Fish</option>
            <option value="">Cooking Essentials</option>
            <option value="">Sauces, Pickles & Condiments</option>
            <option value="">Snacks & Instant Foods</option>
            <option value="">Baby Food & Care</option>
            <option value="">Breads, Biscut & Cakes</option>
            <option value="">Spreads</option>
            <option value="">Dairy</option>
            <option value="">Beverages</option>
            <option value="">Personal Care</option>
            <option value="">Home Care & Cleaning</option>
            <option value="">Home & Living</option>
            <option value="">Home Appliance</option>
            <option value="">Other</option>
            <option value="">other</option>

        </select>


    </div>
        <div class="row mb-3">
            <label class=" name col-2 d-flex justify-content-end">Product Quntity :</label>
            <input type="text" class="col-md-7" placeholder="Product Quntity">
        </div>

        <div class="row mb-3">
            <label class=" name col-2 d-flex justify-content-end">Product Price :</label>
            <input type="text" class="col-md-7" placeholder="Product Price">
        </div>

        <div class="row mb-3">
            <label class=" name col-2 d-flex justify-content-end">Selling Price :</label>
            <input type="text" class="col-md-7" placeholder="Selling Price ">
        </div>

        <div class="row mb-3">
            <label class=" name col-2 d-flex justify-content-end">Suppliar Name :</label>
            <input type="text" class="col-md-7" placeholder="Suppliar Name">
        </div>
        <div class="row mb-3">
            <label class=" name col-2 d-flex justify-content-end">Suppliar Address :</label>
            <input type="text" class="col-md-7" placeholder="Suppliar Address">
        </div>
        <div class="container bg-light">
            <div class="col-md-12 text-center">
                <button type="Summit" class="btn btn-primary">Submit</button>&nbsp;
                <button type="Summit" class="btn btn-warning">Cancel</button>
            </div>
        </div>    
</form>









