<!DOCTYPE html>
<html>

<head>
   
</head>

<body>
    <div class="testbox">
        
        <form action="/action_page.php">
            <div>
                <h2>Product Registered Form</h2>
            </div>
            
            <div class="item">
                <p>Product Id</p>
                <div class="name-item">
                    <input type="text" name="name" placeholder="product-id" />

                </div>
            </div>
            <div class="item">
                <p>Product Name</p>
                <input type="email" name="email" placeholder="Product Name" />
            </div>
            <div class="item">
                <p>Product Type</p>
                <input type="text" name="phone" placeholder="Product Type" />
            </div>
            <div class="item">
                <p>Product Brand</p>
                <input type="text" name="phone" placeholder="Product Brand" />
            </div>
            <div class="item">
                <p>Product Qty</p>
                <input type="text" name="Produc- Qty" placeholder="Product Qty" />
            </div>
            <div class="item">
                <p>Inventory Price</p>
                <input type="text" name="Inventory-Price" placeholder="Inventory Price" />
            </div>
            <div class="item">
                <p>Selling Price</p>
                <input type="text" name="Selling-Price" placeholder=" Price" />
            </div>
            <div class="item">
                <p>Supplyer Name</p>
                <input type="text" name="Supplyer-Name" placeholder="Supplyer Name" />
            </div>
            <div class="item">
                <p>Supplyer Address</p>
                <input type="text" name="Supplyer-Address" placeholder="Supplyer Address" />
            </div>
            <div class="btn-block">
                <button type="submit" href="/">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>