/* .sign-up{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
}
.common-form{
    height: 50px;
    width: 50px;
   

}
html{
    position:relative;
}
.form-input{
    width: fit-content;
    
} */



h1{
    color: #405D9D;
    position: relative;
    
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}