<!-- <!DOCTYPE html>
<html>
<div class="customer-aut">
    <div class="sign-up">
        <h1>Seller Sign Up</h1>
        <form class="common-form">
            <label> Name :</label>
            <input class="form-input" type="text" placeholder="Enter Name">
            <label> Address :</label>
            <input class="form-input" type="text" placeholder="Enter Address">
            <label> Phone :</label>
            <input class="form-input" type="text" placeholder="Enter Phone">
            <button class="form-button">Signup</button>
        </form>

    </div>

</div>
</html> -->
<form action="">
    
</form>