<table class="table">
  <thead>
    <tr>
      <th scope="col">Id No</th>
      <th scope="col">Total Buying Price</th>
      <th scope="col">Total Selling Price</th>
      <th scope="col">Total sell</th>
      <th scope="col">Total Profit</th>
      <th scope="col">Total Loss</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Rabiul islam</td>
      <td>200</td>
      <td>220</td>
      <td>20</td>
      <td>.00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Nazmul Hasan</td>
      <td>313</td>
      <td>326</td>
      <td>26</td>
      <td>.00</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mahabub</td>
      <td>550</td>
      <td>600</td>
      <td>50</td>
      <td>.00</td>
    </tr>
    <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td>Total= 96</td>
      <td>.00</td>
  </tbody>
</table>
