<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/images/rsshop.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h1 matSubheader class="mt-2" routerLink="login">Admin Panel</h1>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLink="seller"><mat-icon>supervisor_account</mat-icon>Seller Management</a>
  <a mat-list-item routerLink="product"> <mat-icon>add_shopping_cart</mat-icon>Product Management</a>
  <a mat-list-item routerLink="shop"><mat-icon>shop</mat-icon>Shop Management </a>
  <a mat-list-item routerLink="stock"><mat-icon>storex</mat-icon>Stock Management </a>
  <a mat-list-item routerLink="accounce"><mat-icon>account_balance</mat-icon>Accounce Management </a>
  <a mat-list-item routerLink="customer"><mat-icon>how_to_reg</mat-icon>Customer Management </a>
  <a mat-list-item routerLink="order"><mat-icon>book_online</mat-icon>Order Management </a>
  <a mat-list-item routerLink="delivary"><mat-icon>book_online</mat-icon>Delivary Management </a>
</mat-nav-list>